/* Sfondo Prime Video */
body {
    background-color: #0f1111;
}

/* Card */
.movie-card {
    background-color: #1a1d1f;
    border-radius: 10px;
    overflow: hidden;
    transition: transform .35s ease, box-shadow .35s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

/* Poster */
.poster-wrapper {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .45s ease;
}

.movie-card:hover .poster-img {
    transform: scale(1.15);
}

/* Info */
.movie-info {
    color: white;
}
